@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Andika&family=Catamaran:wght@400;500&family=Inter:wght@300&family=Lato:wght@300;400&family=Montserrat:wght@200;300;400&family=Open+Sans:wght@300&family=PT+Sans&family=Poppins:wght@300;400&family=Raleway:ital,wght@0,300;0,400;0,600;1,300&family=Tangerine:wght@400;700&family=Ubuntu:wght@300&family=Vollkorn&family=Work+Sans&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-family: "Andika", sans-serif;
  font-family: "Catamaran", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Tangerine", cursive;
  font-family: "Ubuntu", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Work Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: rgb(191, 134, 249);
  background: linear-gradient(
    174deg,
    rgba(191, 134, 249, 1) 18%,
    rgba(240, 184, 255, 1) 58%,
    rgba(185, 249, 255, 1) 100%
  ); */
  background: rgb(191, 134, 249);
  background: linear-gradient(
    174deg,
    rgba(191, 134, 249, 1) 18%,
    rgba(236, 171, 255, 1) 35%,
    rgba(255, 194, 252, 1) 58%,
    rgba(176, 178, 249, 1) 78%,
    rgba(185, 249, 255, 1) 100%
  );
}

body img {
  width: 100px;
}

.wrapper {
  display: flex;
  background: #fff;
  padding: 30px 40px;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.wrapper h2 {
  color: rgba(176, 178, 249, 1);
}

.wrapper .logos {
  margin-left: 15px;
}

.logos img {
  opacity: 0.3;
  margin: 0 7px;
  transform: opacity 0.5s ease;
}

.logos img:last-child {
  margin-right: 0px;
}
